{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
    	

    	<div class="py-4 text-center">
            <h4>{% if user.user_id %}Edit Candidate{% else %}Add New Candidate{% endif %}</h4>
        </div>

        <form method="POST" action="{% if user.user_id %}{% url 'edit_candidate' user_id=user.user_id %}{% else %}{% url 'add_candidate' %}{% endif %}">

         	<input type="hidden" name="recordid" value="{{ user.user_id }}">
            {% csrf_token %}

		<div class="form-group">
		    <label for="candidaterole">Select User Role</label>
		    <select name="candidaterole" id="candidaterole" class="form-select">
		      <option value="">Select User Role</option>
			  {% for userrole in userroles %}
			    <option {% if userrole.role_id == 3 %}selected="selected"{% endif %} value="{{ userrole.role_id }}">{{ userrole.role_type|title }}</option>
			  {% endfor %}
		    </select>
		</div>

		<div class="form-group">
			<label for="candidatename">Candidate Name</label>
			<input type="text" name="candidatename" class="form-control" id="candidatename"  placeholder="Enter the candidate name" value="{{ user.user_name }}">
		</div>

		<div class="form-group">
			<label for="candidatephone">Candidate Phone</label>
			<input type="text" name="candidatephone" class="form-control" id="candidatephone"  placeholder="Enter the candidate phone" value="{{ user.user_phone }}">
		</div>

		<div class="form-group">
			<label for="candidateemail">Candidate Email</label>
			<input type="text" name="candidateemail" class="form-control" id="candidateemail"  placeholder="Enter the candidate email" value="{{ user.user_email }}">
		</div>

		<div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
         </div>

        </form>

    </div>
    <div class="col">
    </div>
</div>
{% endblock %}