{% extends 'base.html' %}

{% block content %}
<div class="row">

	<div class="col">
	</div>

    <div class="col-10">

		<div class="py-4 text-center">
	    	<h4>All Payments</h4>
	  	</div>
	  	<div>
		  	{% if messages %}
	    		{% for message in messages %}
	    		<div class="alert alert-success">
				  <strong>{{message}}</strong>
				</div>
	    		{% endfor %}
	    	{% endif %}
	  	</div>

		<table class="table  table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Payment #</th>
		      <th scope="col">Batch</th>
		      <th scope="col">Course</th>
		      <th scope="col">Candiate</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Payment Date</th>
		    </tr>
		  </thead>
		  <tbody>

		  	{% for payment in payments %}
		  	<tr>

		  		<td scope="row">{{ forloop.counter }} 
		  			{% if payment.payment_reference and payment.payment_reference.url %}
		  			<a target="_blank" href="{{payment.payment_reference.url}}"># {{ payment.payment_id }}</a></th>
		  			{% else %}
		  				# {{ payment.payment_id }}</th>
		  			{% endif %}
		  		<td>{{ payment.batch_id.batch_name }}</td>
		  		<td>{{ payment.course_id.course_name }}</td>
		  		<td>{{ payment.candidate_id.user_name }}</td>
		  		<td>{{ payment.payment_amount }}</td>
		  		<td>{{ payment.date_created }}</td>


		  	</tr>
		  	{% endfor %}
		    
		  </tbody>
		</table>



		<!-- Pagination -->

		<div class="pagination justify-content-center">
			<ul class="pagination">
				{% if payments.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1" aria-label="First">
						<span aria-hidden="true">&laquo;&laquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ payments.previous_page_number }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}

				<li class="page-item disabled">
					<span class="page-link">
						Page {{ payments.number }} of {{ payments.paginator.num_pages }}.
					</span>
				</li>

				{% if payments.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ payments.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ payments.paginator.num_pages }}" aria-label="Last">
						<span aria-hidden="true">&raquo;&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>

		<!-- End Pagination -->



		
	</div>

	<div class="col">	
	</div>

</div>
{% endblock %}