{% extends 'base.html' %}

{% block content %}
<div class="row">

	<div class="col">
	</div>

	<div class="col-10">

		<div class="py-4 text-center">
			<h4>All Batches</h4>
		</div>
		<div>

			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success">
				<strong>{{message}}</strong>
			</div>
			{% endfor %}
			{% endif %}
		</div>

		<table class="table  table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Course</th>
					
					<th scope="col">Start Date</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>

				{% for batch in batches %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{ batch.batch_name }}</td>
					<td>{{ batch.course_id.course_name }}</td>
					
					<td>{{ batch.start_date|date:"D, j M. Y" }}</td>



					<td>
						<!-- View Action -->
						<a class="view-students-link" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#viewStudentsModal" data-batch-id="{{ batch.batch_id }}">
							<i class="bi bi-eye" title="View Students"></i>
						</a>
						
						<!-- Edit Action -->
						<a href="{% url 'edit_batch' batch.batch_id %}">
							<i class="bi bi-pencil-square" title="Edit"></i>
						</a>

						<!-- Export Action -->
						<a class="export-student-link" href="javascript:void(0);" data-batch-id="{{ batch.batch_id }}">
						    <i class="bi bi-box-arrow-up" title="Export"></i>
						</a>
	
					</td>
				</tr>
				{% endfor %}
				
			</tbody>
		</table>


		<!-- Pagination -->

		<!-- <div class="pagination justify-content-center">
			<ul class="pagination">
				{% if candidates.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1" aria-label="First">
						<span aria-hidden="true">&laquo;&laquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ candidates.previous_page_number }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}

				<li class="page-item disabled">
					<span class="page-link">
						Page {{ candidates.number }} of {{ candidates.paginator.num_pages }}.
					</span>
				</li>

				{% if candidates.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ candidates.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ candidates.paginator.num_pages }}" aria-label="Last">
						<span aria-hidden="true">&raquo;&raquo;</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</div> -->

		<!-- End Pagination -->



	</div>

	<div class="col">	
	</div>



</div>

<div class="modal fade" id="viewStudentsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Students</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add content for viewing students here -->
        <!-- You can dynamically load content or show information based on your requirements -->
        <!-- For example, display a list of students -->
        <ul>
          <li>Student 1</li>
          <li>Student 2</li>
          <!-- Add more students as needed -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
	function confirmDelete() {
		return confirm("Are you sure you want to delete this course?");
	}
</script>
{% endblock %}

{% block additional_scripts %}
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
jQuery(document).ready(function() {
    // Handle the click event on the "View Students" link
    jQuery('.view-students-link').click(function() {
        // Get the batch ID from the data attribute
        var batchId = jQuery(this).data('batch-id');
        //console.log(batchId);
        var modalBody = $('#viewStudentsModal .modal-body ul');
                modalBody.empty();

        // AJAX call to fetch students for the given batch ID
        jQuery.ajax({
            url: '/get_students_for_batch/' + batchId + '/',  
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Update modal content with the fetched students
                var modalBody = $('#viewStudentsModal .modal-body ul');
                modalBody.empty();

                if (data.students.length > 0) {
                    jQuery.each(data.students, function(index, student) {
                        modalBody.append('<li>' + student.user_name + '</li>');
                    });
                } else {
                    modalBody.append('<p>No students found for this batch.</p>');
                }
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    });
});



/*code to export */


    document.addEventListener('DOMContentLoaded', function () {
        // Add a click event listener to the export link
        document.querySelectorAll('.export-student-link').forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                // Get the batch ID from the data attribute
                var batchId = this.getAttribute('data-batch-id');
                // Trigger the export function
                exportBatchStudents(batchId);
            });
        });

        function exportBatchStudents(batchId) {
            // Make an AJAX request to the server
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/export_batch_students_csv/' + batchId + '/', true);
            xhr.responseType = 'blob'; // Set the response type to blob

            xhr.onload = function () {
                if (this.status === 200) {
                    // Create a link element and trigger a download
                    var blob = new Blob([this.response], { type: 'text/csv' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'batch_' + batchId + '_students.csv';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                } else {
                    console.error('Failed to export batch students');
                }
            };

            xhr.send();
        }
    });


</script>


{% endblock %}