{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">

        <div class="py-4 text-center">
            <h4>{% if coursedetails.course_id %}Edit Course{% else %}Add New Course{% endif %}</h4>
        </div>

        <form method="POST" action="{% if coursedetails.course_id %}{% url 'edit_course' course_id=coursedetails.course_id %}{% else %}{% url 'add_course' %}{% endif %}">
    
            {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputEmail1">Course Name</label>
            <input type="text" name="coursename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the course name" value="{{ coursedetails.course_name }}">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Course Fee(₹)</label>
            <input type="text"  name="coursefee" class="form-control" id="exampleInputPassword1" placeholder="Enter Fee" value="{{ coursedetails.course_fee }}">
          </div>

          <div class="form-group">
            <label for="courseduration">Course Duration</label>
            <select name="courseduration" id="courseduration" class="form-select">
              <option value="">Select Course Duration</option>
              <option {% if coursedetails.course_duration == '45 Days' %}selected="selected"{% endif %} value="45 Days">45 Days</option>
              <option {% if coursedetails.course_duration == '60 Days' %}selected="selected"{% endif %} value="60 Days">60 Days</option>
              <option {% if coursedetails.course_duration == '90 Days' %}selected="selected"{% endif %} value="90 Days">90 Days</option>
              <option {% if coursedetails.course_duration == '1 Month' %}selected="selected"{% endif %} value="1 Month">1 Month</option>
              <option {% if coursedetails.course_duration == '1.5 Month' %}selected="selected"{% endif %} value="1.5 Month">1.5 Month</option>
              <option {% if coursedetails.course_duration == '2 Month' %}selected="selected"{% endif %} value="2 Month">2 Month</option>
              <option {% if coursedetails.course_duration == '2.5 Month' %}selected="selected"{% endif %} value="2.5 Month">2.5 Month</option>
              <option {% if coursedetails.course_duration == '3 Month' %}selected="selected"{% endif %} value="3 Month">3 Month</option>
              <option {% if coursedetails.course_duration == '6 Month' %}selected="selected"{% endif %} value="6 Month">6 Month</option>
              <option {% if coursedetails.course_duration == '1 Year' %}selected="selected"{% endif %} value="1 Year">1 Year</option>
            </select>
          </div>

          <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}
